ta
yfinance
requests
requests_cache
pygad
gym
google
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h5py
keras
Keras-Applications
Keras-Preprocessing
librosa
matplotlib
opencv-contrib-python  
opencv-python          
pandas
progressbar2
scikit-image
scikit-learn          
scipy
tensorflow-estimator
tensorflow-gpu
tensorflow-hub
tensorflow-addons
tensorflowjs
termcolor
tqdm
xlrd
XlsxWriter
flask
pyaml
seaborn
elasticsearch
pyyaml
zhon
hanziconv
wikiextractor
spacy
nltk
pyserini
faiss-cpu
tensorboardX
transformers
rasa
rasa[convert]
rasa[spacy]
wandb
decord==0.6.0
librosa==0.9.2
pytorch_lightning==1.6.4
pypesq==1.2.4
pydub==0.25.1
dlib==19.24.0
museval==0.4.0
mediapipe==0.8.10.1
